[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
pydantic = "*"
mkdocs = "*"
mkdocs-material = "*"

[dev-packages]
pytest = "*"
flake8 = "<4"
pytest-flake8 = "*"
flake8-quotes = "*"
flake8-commas = "*"
flake8-isort = "*"
sanic-testing = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
